// Scss Document
$breakpoint: (
  sp: "screen and (max-width: 768px)",
  pc: "screen and (min-width: 769px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    "Meiryo", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
  font-size: 16px;
  color: #2a2a2a;
  a {
    color: #2a2a2a;
    &:hover {
      opacity: 0.7;
    }
  }
  @include mq(sp) {
    font-size: 14px;
  }
}

// ヘッダー

header {
  width: 100%;
  margin: 0 auto;
  h1 {
    padding: 20px;
  }
  .globalnav-wrap {
    font-size: 16px;
    color: #fff;
    background: #121212;
    display: flex;
    justify-content: space-between;
  }
  .globalnav {
    z-index: 20;
    a {
      color: #fff;
    }
    .dropdown-btn {
      position: relative;
      display: inline-block;
      padding: 20px;
      cursor: pointer;
      &:hover {
        background: #666;
      }
    }
    .dropdown {
      z-index: 1000;
      background: #666;
      position: absolute;
      left: 0;
      top: 55px;
      width: 240px;
      padding: 10px 20px;
      display: none;
      li {
        display: inline-block;
        margin: 10px 0;
        a {
          color: #fff;
        }
      }
    }
    .nav-button-wrap,
    .open {
      display: block;
    }
    .close {
      display: block;
    }
  }

  @include mq(sp) {
    position: relative;
    width: 100%;
    .nav-button-wrap {
      display: block;
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: 1000;
      cursor: pointer;
      padding: 15px;
      height: 53px;
    }
    .globalnav {
      display: none;
      .close {
        display: none;
      }
    }
    .globalnav-wrap.open .globalnav {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px 20px 0;
      position: fixed;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;

      > ul {
        display: flex;
        flex-direction: column;
      }

      li {
        display: block;
        text-align: center;
        &:hover {
          background: transparent;
        }
      }
      .dropdown {
        display: block;
        position: static;
        background: transparent;
        width: 100%;
      }
    }
    .nav-button,
    .nav-button span {
      display: inline-block;
      transition: all 0.3s;
    }
    .nav-button {
      z-index: 20;
      width: 25px;
      height: 19px;
      position: relative;
    }
    .nav-button span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #fff;
      border-radius: 4px;
    }
    .nav-button span:nth-of-type(1) {
      top: 0;
    }
    .nav-button span:nth-of-type(2) {
      top: 8px;
    }
    .nav-button span:nth-of-type(3) {
      bottom: 0;
    }
    .active .nav-button span:nth-of-type(1) {
      transform: translateY(10px) rotate(-45deg);
    }
    .active .nav-button span:nth-of-type(2) {
      opacity: 0;
    }
    .active .nav-button span:nth-of-type(3) {
      transform: translateY(-6px) rotate(45deg);
    }
  }
}

main {
  // メイン
  .main-container {
    padding: 60px 0;
    h2 {
      text-align: center;
      margin: 0 0 40px;
      font-size: 24px;
      letter-spacing: 0.2em;
      text-indent: 0.2em;
      @include mq(sp) {
        margin: 0 0 20px;
      }
    }
    p {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .container-inner {
      max-width: 1260px;
      margin: 0 auto;
      padding: 20px;
      line-height: 1.5;
    }

    &.swiper {
      padding: 0;
      .swiper--wrapper {
        /* wrapperのサイズを調整 */
        width: 100%;
        height: 600px;
      }

      .swiper-slide {
        /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
        color: #ffffff;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 600px;
        text-align: center;
        background-position: center;
        background-size: cover;
        font-size: 40px;
        letter-spacing: 0.4em;
        text-indent: 0.4em;
      }

      .swiper-slide:nth-child(4n + 1) {
        /*1、4、7、3n+1枚目の背景色 */
        background-image: url("../img/slide1.jpg");
      }

      .swiper-slide:nth-child(4n + 2) {
        /*2、5、8、3n+2枚目の背景色 */
        background-image: url("../img/slide2.jpg");
      }

      .swiper-slide:nth-child(4n + 3) {
        /*3、6、9、3n+3枚目の背景色 */
        background-image: url("../img/slide3.jpg");
      }
      .swiper-slide:nth-child(4n + 4) {
        /*3、6、9、3n+3枚目の背景色 */
        background-image: url("../img/slide4.jpg");
      }
    } // .swiper
    &.about {
      .container-inner {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq(sp) {
          flex-direction: column;
        }
        .container-img {
          width: 40%;
          @include mq(sp) {
            width: 60%;
            z-index: 10;
          }
        }
        .container-txt {
          width: calc(60% - 40px);
          padding: 40px;
          background-color: #f7f7f7;
          @include mq(sp) {
            margin-top: -40px;
            padding: 60px 20px 20px;
            width: 90%;
          }
        }
      }
    } //.about

    &.pickup {
      background-color: #d1cdcc;
      .container-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .container-box {
          width: calc(100% / 3 - 20px);
          margin-bottom: 40px;
          @include mq(sp) {
            width: calc(100% / 2 - 10px);
            margin-bottom: 30px;
          }
          .container-txt {
            text-align: center;
            margin-top: 10px;
            @include mq(sp) {
              margin-top: 5px;
            }
          }
        }
      }
    }

    &.other {
      background-image: url("../img/other_bg.jpg");
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      color: #fff;
      .container-inner {
        max-width: 900px;
        text-align: center;
      }
    } //.other
    &.contact {
      .container-txt p {
        text-align: center;
      }
      .form {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
        @include mq(sp) {
          margin-top: 40px;
        }
      }
      .form-item {
        border-top: 1px solid #ddd;
        padding-top: 24px;
        padding-bottom: 24px;
        width: 100%;
        display: flex;
        align-items: center;
        @include mq(sp) {
          padding-left: 14px;
          padding-right: 14px;
          padding-top: 16px;
          padding-bottom: 16px;
          flex-wrap: wrap;
        }
      }
      .form-item:nth-child(5) {
        border-bottom: 1px solid #ddd;
      }
      .form-item-label {
        width: 100%;
        max-width: 248px;
        letter-spacing: 0.05em;
        font-weight: bold;
        font-size: 18px;
        @include mq(sp) {
          max-width: inherit;
          display: flex;
          align-items: center;
          font-size: 15px;
        }
      }
      .form-item-label.ismsg {
        margin-top: 8px;
        margin-bottom: auto;
        @include mq(sp) {
          margin-top: 0;
        }
      }
      .form-item-label-required {
        border-radius: 6px;
        margin-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 48px;
        display: inline-block;
        text-align: center;
        background: #a19b9c;
        color: #fff;
        font-size: 14px;
        @include mq(sp) {
          border-radius: 4px;
          padding-top: 4px;
          padding-bottom: 4px;
          width: 32px;
          font-size: 10px;
        }
      }
      .form-item-input {
        border: 1px solid #ddd;
        border-radius: 6px;
        margin-left: 40px;
        padding-left: 1em;
        padding-right: 1em;
        height: 48px;
        flex: 1;
        width: 100%;
        max-width: 410px;
        background: #eaedf2;
        font-size: 18px;
        @include mq(sp) {
          margin-left: 0;
          margin-top: 18px;
          height: 40px;
          flex: inherit;
          font-size: 15px;
        }
      }

      .form-item-textarea {
        border: 1px solid #ddd;
        border-radius: 6px;
        margin-left: 40px;
        padding-left: 1em;
        padding-right: 1em;
        height: 216px;
        flex: 1;
        width: 100%;
        max-width: 410px;
        background: #eaedf2;
        font-size: 18px;
        @include mq(sp) {
          margin-top: 18px;
          margin-left: 0;
          height: 200px;
          flex: inherit;
          font-size: 15px;
        }
      }

      .form-btn {
        border-radius: 6px;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 70%;
        display: block;
        letter-spacing: 0.05em;
        background: #a19b9c;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        @include mq(sp) {
          margin-top: 24px;
          padding-top: 8px;
          padding-bottom: 8px;
          width: 60%;
          font-size: 16px;
        }
      }
    } //.contact
  }
}

footer {
  background-color: #121212;
  color: #fff;
  text-align: center;
  padding: 40px 0 20px;
  ul.footer-nav {
    margin: 0 0 40px;
    display: flex;
    justify-content: center;

    @include mq(sp) {
      flex-direction: column;
    }
    li {
      margin: 0 15px;
      @include mq(sp) {
        margin: 15px 15px 0;
      }
      a {
        color: #fff;
      }
    }
  }
  .copyright {
    font-size: 14px;
  }
}

/*----------
アニメーション
----------*/

.visible {
  opacity: 0;
  transition: transform 0.5s linear;
  animation-duration: 2.5s;
  animation-fill-mode: both;
}
/*　brightness　*/
.effect {
  animation-name: imgbrightness;
  opacity: 1;
  transition: 0.8s;
}
@keyframes imgbrightness {
  0% {
    opacity: 0;
    filter: brightness(150%);
  }
  100% {
    opacity: 1;
    filter: brightness(100%);
  }
}
