/*----------------
カスタム用リセットCSS
----------------*/
/* Safariのフォームのスタイルを消す */
input[type="submit"], input[type="button"] {
  -webkit-appearance: button;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
}
input[type="submit"]::-webkit-search-decoration, input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]:focus, input[type="button"]:focus {
  outline-offset: -2px;
}
input[type="text"] {
  font-size: 100%;
  border: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(43, 43, 43, 0.8);
}
input[type="search"] {
  -webkit-appearance: none;
}


/*----------------
通常のリセットCSS
----------------*/
html,body,h1,h2,h3,h4,ul,ol,dl,li,dt,dd,p,div,span,img,a,table,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align:baseline;
}
article,header,footer,aside,figure,figcaption,nav,section {
  display:block;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
ol,ul {
  list-style: none;
  list-style-type: none;
}
*,*::before,*::after {
  box-sizing: border-box;
}
a,area,button,[role="button"],input:not([type=range]),label,select,summary,textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
table {
  border-collapse: collapse;
}
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
video {
  vertical-align: bottom;
}
*:focus {
  outline: none;
}